place {
    .placeInner{
        margin-left: 0px; 
        min-height: 7vh; 
        background-color: #c0c0c0; 
        overflow-x: hidden;
    }
    .banerWrapper{
        min-height: 7vh; 
        width: 100%; 
        left:0px; 
        position: absolute;
    }
    button{
        text-align: left;
        z-index: 999; 
        height: 8mm; 
        overflow: hidden; 
        position: absolute;
    }
    table{
        // height: 100%; 
        width: 100%; 
        overflow-x: hidden;
    }
    baner{
        position: absolute; 
        bottom: 0px; 
        top: 0px;
        margin: auto 0;
        width: 200%; 
        overflow-x: hidden;
    }
}
