page-diagramm {
    .timeLine{
        background-color: white; 
        border-color: black; 
        border-style: solid; 
        position: fixed; 
        width: 200vw; 
        height: 15vh;
    }
    .nowLine{
        pointer-events: none; 
        position: absolute; 
        height: 100vh; 
        left: 100vw; 
        border-right-style:dashed; 
        border-color: black;
        z-index: 1;
    }
    .placeWrapper{
        position: relative; 
        margin-top: 15vh; 
        width: 100vw; 
        overflow-x: hidden;
    }
    .dayLine{
        pointer-events: none; 
        position: absolute; 
        height: 100vh; 
        border-width: 1px;
        border-right-style:solid; 
        border-color: black;
        z-index: 1;
    }
}
